.container {
  padding-left: 20px;
  padding-right: 20px;
}

.details {
  display: flex;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

.details_poster {
  width: 600px;
  margin-right: 40px;
}
.list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.list_Link {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.active {
  color: red;
}
